<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Html page</title>
</head>
<body>
    <center>
        <h1 style="color: rgb(54, 208, 236);"><marquee>we use render function to perform rendering</marquee></h1>
        <h1 style="color: orangered;">We are creating templates folder to get response as HTML page</h1>
    </center>
    
</body>
</html>